<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vad-Du-Än-Vill kartan</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
        <link rel="stylesheet" href="app.css">
        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>    </head>
    <body>
    <div ng-view> </div>

    <!-- Subscribe to success flash messages. -->
        <div flash-alert="success" active-class="in" class="success">
            <span class="alert-message">{{flash.message}}</span>
        </div>

        <!-- Subscribe to error flash messages. -->
        <div flash-alert="error" active-class="in" class="error">
            <span class="alert-message">{{flash.message}}</span>
        </div>
    <div id="loggo"><strong><h1>Vad-Du-Än-Vill Kartan</h1></strong></div>


    <div id="likeEverythign">
        <div data-ng-controller="MapController as MC">
            <map center="current-location" zoom="8" class="map"></map>

            <div class="loginbox" ng-controller="LoginController as loginCtrl" >
                <form name="loginform" ng-submit="loginCtrl.login()" ng-hide="loginCtrl.isOnline()">
                    <div>
                        <label>Email: </label>
                        <input type="email" ng-model="email">
                    </div>
                    <div>
                        <label>Lösenord: </label>
                        <input type="password" ng-model="password">
                    </div>
                    <input type="submit" value="Logga in">
                </form>
                <form name="logoutform" ng-submit="loginCtrl.logout()" ng-show="loginCtrl.isOnline()">
                    <input type="submit" value="Logga ut">
                </form>
            </div>

            <all-eventsbox></all-eventsbox>
        </div>
    </div>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="shared/map/googlemap.js"></script>
        <script src="shared/map/ng-map.min.js"></script>
        <script src="shared/angular-flash/angular-flash.min.js"></script>
        <script type="text/javascript" src="shared/angular-jwt/angular-jwt.js"></script>
        <script src="app.js"></script>
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>
        <script src="views/view1/view1.js"></script>
        <script src="views/view2/view2.js"></script>
    </body>
</html>
