/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: sans-serif;
    background-color: rgb(225, 235, 236);
}
.userDiv {
    margin: 5px;
    background-color: rgb(191, 198, 199);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.forUser h3 {
    margin-top: 0px;
    border-bottom: solid rgb(0, 0, 0) 1px;
}

.appInList {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    box-shadow: 0 0 5px 0px rgb(0, 0, 0);
    margin-bottom: 10px;
}
.appName h4 {
    margin-top: 5px;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.appDetail {
    margin-top: -5px;
}
.appInList a {
    background-color: rgb(191, 198, 199);
    padding: 5px;
    text-decoration: none;
    color: rgb(245, 245, 245);
    border-radius: 5px;
}

div#login, #register {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(190, 192, 192);
    border-radius: 5px;
    padding: 10px;
}
h2 {
    margin-top: 0px;
}

.notice {
    background-color: rgb(255, 255, 0);
    margin: -10px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

form p, form div {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: monospace;
    font-size: x-large;
}

div#token {
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 1px;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 0px;
    word-break: break-all;
}
#token p {
    font-weight: bold;
}